<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>


  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js" type= "text/javascript"></script>
  <link rel="stylesheet" href= "styles/styles.css" type= "text/css">

</head>
<body>
  <div class= "container">
    <hr>
    <h1>Jacquelyn Fambrough</h1>
    <hr>
  </div>
  <div class= "container">
    <div class= "col-md-4">
      <h5>Frameworks</h5>
      <p> Tattooed single-origin coffee shoreditch, jean shorts biodiesel freegan
        listicle. Jean shorts chillwave craft beer celiac, tumblr banh mi hashtag
        iPhone cardigan man bun polaroid. pickled pop-up wolf skateboard trust
        fund artisan celiac schlitz. </p>
      </div>
      <div class= "col-md-4">
        <h5> Technologies </h5>
        <p>Yuccie sustainable swag typewriter williamsburg microdosing twee,
        pickled pop-up wolf skateboard trust fund artisan celiac schlitz. Tote bag
        wayfarers chicharrones, drinking vinegar fap raw denim tumblr twee four loko
        tofu yuccie blog celiac. </p>
      </div>
      <div class= "col-md-4">
        <h5>Languages</h5>
        <p>Messenger bag hella stumptown asymmetrical, drinking vinegar readymade small
        batch truffaut kickstarter. VHS aesthetic kinfolk yuccie tofu kombucha.
        Meh lo-fi chambray helvetica venmo. Hella tacos cold-pressed twee, cred
        schlitz godard fanny pack trust fund mustache poutine ugh.</p>
      </div>
    </div>
  </body>
</html>
