

@media (max-width: 800px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../images/shel.jpeg) no-repeat center center;
    background-position-y: 15px;
    background-position-x: -212px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

body {
  background: url(../images/shel.jpeg);
  background-position-y: 50px;
  background-position-x: center;
  background-size: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
}


#headerMdUp h1 {
  text-align: right;
  color: white;
  text-shadow:3px 3px 6px lime;
  margin-top:5%;
  margin-bottom:20%;
  margin-right:3% ;
  font-size: 75px;
}

#headerSmDown h1 {
  text-align: center;
  color: white;
  text-shadow:2px 2px 4px lime;
  margin-top:60%;
  margin-bottom:40%;
  margin-right:0 !imporant;
  font-size: 50px;
}

nav {
  position:fixed
}

nav ul li:hover {
  background-color:lime;
}

.body-pad{
  margin-top: 45px;
  background-color: white;
  z-index: 1;
  width:100vw;
}

.project-info {
  margin-bottom: 200px;
  text-align:center;
}

#projects {
  margin-top: 36vw;
  text-align: center;
}

#about-me img {
  border-radius:100%;
  text-align: center;
}

#icons {
  text-align:center;
  margin-bottom: 100px;
}

#about-me {
  text-align: center;
  margin-bottom: 100px;
}

#resume {
  margin-bottom:100px;
  text-align: center;
}

hr {
  margin-bottom: 100px;
}

.item {
  margin:10px;
}

.carousel-inner {
  padding-bottom:50px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}


.carousel-control.left {
  background: none;
  color:grey;
  margin-left:-80px;
}

.carousel-control.right {
  background: none;
  color:grey;
  margin-right:-80px;
}

.carousel-control.left:hover {
  background: none;
  color:lime;
}

.carousel-control.right:hover {
  background: none;
  color:lime;
}


.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 6px solid lightgrey;
    border-radius: 10px;
    margin-bottom:-20px;
}

.carousel-indicators li.active {

    margin-bottom:-20px;
    border-radius:0px;
    border-radius: 10px;
}


.carousel-indicators li:hover {
  border: 6px solid lime;

}

@font-face {
    font-family: 'si';
    src: url('socicon/socicon.eot');
    src: url('socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('socicon/socicon.woff') format('woff'),
         url('socicon/socicon.ttf') format('truetype'),
         url('socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url('socicon/socicon.svg') format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-size: 23px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 22px;
    color: #ffffff;
    background-color: grey;
}

.soc-icon-last{
    margin:0 !important;
}
.soc-twitter:before {
    content:'a';
}
.soc-twitter:hover {
  background-color:white;
  color:lime;
}
.soc-linkedin:before {
    content:'j';
}
.soc-linkedin:hover {
  background-color:white;
  color:lime;
}
.soc-github:before {
    content:'Q';
}
.soc-github:hover {
  background-color:white;
  color:lime;
}
.soc-instagram:before {
    content:'x';
}
.soc-instagram:hover {
  background-color:white;
  color:lime;
}
.soc-email2:before {
    content:'.';
}
.soc-email2:hover {
  background-color:white;
  color:lime;
}
