body {
  background-color: white
}

h1 {
  text-align: center
}

#plantastic img {
  width: 700px
}

#tic-tac-toe img {
  width: 700px
}

#icons {
  text-align:center
}

.jumbotron {
  text-align: center
}
